<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SystemNewServiceMapper">

    <resultMap type="SystemNewService" id="SystemNewServiceResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="categoryId"    column="category_id"    />
        <result property="price"    column="price"    />
        <result property="hours"    column="hours"    />
        <result property="hourlyRate"    column="hourly_rate"    />

    </resultMap>

    <sql id="selectSystemNewServiceVo">
        select id, name, description, category_id, price, hours, hourly_rate from system_service
    </sql>

    <select id="selectSystemNewServiceList" parameterType="SystemNewService" resultMap="SystemNewServiceResult">
        <include refid="selectSystemNewServiceVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="hours != null  and hours != ''"> and hours = #{hours}</if>
            <if test="hourlyRate != null "> and hourly_rate = #{hourlyRate}</if>

        </where>
    </select>

    <select id="selectSystemNewServiceById" parameterType="Long" resultMap="SystemNewServiceResult">
        <include refid="selectSystemNewServiceVo"/>
        where id = #{id}
    </select>

    <insert id="insertSystemNewService" parameterType="SystemNewService">
        insert into system_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="price != null">price,</if>
            <if test="hours != null">hours,</if>
            <if test="hourlyRate != null">hourly_rate,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="price != null">#{price},</if>
            <if test="hours != null">#{hours},</if>
            <if test="hourlyRate != null">#{hourlyRate},</if>

         </trim>
    </insert>

    <update id="updateSystemNewService" parameterType="SystemNewService">
        update system_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="hours != null">hours = #{hours},</if>
            <if test="hourlyRate != null">hourly_rate = #{hourlyRate},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSystemNewServiceById" parameterType="Long">
        delete from system_service where id = #{id}
    </delete>

    <delete id="deleteSystemNewServiceByIds" parameterType="String">
        delete from system_service where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
