<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SystemCityMapper">

    <resultMap type="SystemCity" id="SystemCityResult">
        <result property="id"    column="id"    />
        <result property="cityName"    column="city_name"    />
        <result property="status"    column="status"    />
        <result property="baseServiceFee"    column="base_service_fee"    />
    </resultMap>

    <resultMap id="CityWithServicesResultMap" type="CityDTO">
        <id property="id" column="city_id"/>
        <result property="cityName" column="city_name"/>
        <result property="status" column="city_status"/>
        <result property="baseServiceFee" column="base_service_fee"/>
        <collection property="services" ofType="ServiceDTO">
            <id property="id" column="service_id"/>
            <result property="name" column="service_name"/>
            <result property="isSelected" column="is_selected"/>
        </collection>
    </resultMap>


    <sql id="selectSystemCityVo">
        select id, city_name, status, base_service_fee from system_city
    </sql>

    <select id="selectSystemCityList" parameterType="SystemCity" resultMap="SystemCityResult">
        <include refid="selectSystemCityVo"/>
        <where>
            <if test="cityName != null  and cityName != ''"> and city_name like concat('%', #{cityName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="baseServiceFee != null "> and base_service_fee = #{baseServiceFee}</if>
        </where>
    </select>

    <select id="selectSystemCityById" parameterType="Long" resultMap="CityWithServicesResultMap">
        SELECT
            c.id AS city_id,
            c.city_name,
            c.status AS city_status,
            c.base_service_fee,
            s.id AS service_id,
            s.name AS service_name,
            CASE
                WHEN scs.service_id IS NOT NULL THEN 1
                ELSE 0
                END AS is_selected
        FROM system_service s
                 LEFT JOIN system_city_service scs ON s.id = scs.service_id AND scs.city_id = #{cityId}
                 LEFT JOIN system_city c ON c.id = #{cityId}
    </select>

    <insert id="insertSystemCity" parameterType="SystemCity" useGeneratedKeys="true" keyProperty="id">
        insert into system_city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cityName != null and cityName != ''">city_name,</if>
            <if test="status != null">status,</if>
            <if test="baseServiceFee != null">base_service_fee,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cityName != null and cityName != ''">#{cityName},</if>
            <if test="status != null">#{status},</if>
            <if test="baseServiceFee != null">#{baseServiceFee},</if>
         </trim>
    </insert>

    <update id="updateSystemCity" parameterType="SystemCity">
        update system_city
        <trim prefix="SET" suffixOverrides=",">
            <if test="cityName != null and cityName != ''">city_name = #{cityName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="baseServiceFee != null">base_service_fee = #{baseServiceFee},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 删除城市所有关联服务 -->
    <delete id="deleteCityServices">
        delete from system_city_service where city_id = #{cityId}
    </delete>

    <!-- 批量插入城市服务关联 -->
    <insert id="batchInsertCityServices">
        insert into system_city_service (city_id, service_id) values
        <foreach collection="serviceIds" item="serviceId" separator=",">
            (#{cityId}, #{serviceId})
        </foreach>
    </insert>

    <delete id="deleteSystemCityById" parameterType="Long">
        delete from system_city where id = #{id}
    </delete>

    <delete id="deleteSystemCityByIds" parameterType="String">
        delete from system_city where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
