<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SystemNewServiceMapper">

    <resultMap type="SystemNewService" id="SystemNewServiceResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="categoryId"    column="category_id"    />
        <result property="price"    column="price"    />
        <result property="hours"    column="hours"    />
        <result property="hourlyRate"    column="hourly_rate"    />
        <result property="categoryName"    column="category_name"    />
        <collection property="imageUrls" ofType="String">
            <result column="image_url" />
        </collection>
    </resultMap>

    <sql id="selectSystemNewServiceVo">
        select id, name, description, category_id, price, hours, hourly_rate from system_service
    </sql>

    <select id="selectSystemNewServiceList" parameterType="SystemNewService" resultMap="SystemNewServiceResult">
        select
        ss.*,
        ssc.name as category_name,
        sii.image_url as image_url  <!-- 添加图片字段 -->
        from system_service as ss
        left join system_service_category as ssc on ss.category_id = ssc.id
        left join system_service_image as sii on ss.id = sii.service_id  <!-- 左连接图片表 -->
        <where>
            <if test="name!=null and name!=''">and ss.name like concat('%',#{name},'%')</if>
            <if test="description!=null and description!=''">and ss.description like concat('%',#{description},'%')</if>
            <if test="categoryName!=null">and ssc.name like concat('%',#{categoryName},'%')</if>
            <choose>
                <when test="hourlyRate == 50">and ss.hourly_rate=50</when>
                <when test="hourlyRate == 100">and ss.hourly_rate=100</when>
                <otherwise></otherwise>
            </choose>
<!--            <if test="hourlyRate!=null">and ss.hourly_rate =#{hourlyRate}</if>-->
        </where>
    </select>

    <select id="selectSystemNewServiceById" parameterType="Long" resultMap="SystemNewServiceResult">
        select
        ss.*,
        ssc.name as category_name,
        sii.image_url as image_url  <!-- 添加图片字段 -->
        from system_service as ss
        left join system_service_category as ssc on ss.category_id = ssc.id
        left join system_service_image as sii on ss.id = sii.service_id
        where ss.id = #{id}
    </select>

    <insert id="insertSystemNewService" parameterType="SystemNewService" useGeneratedKeys="true" keyProperty="id">
        insert into system_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="price != null">price,</if>
            <if test="hours != null">hours,</if>
            <if test="hourlyRate != null">hourly_rate,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="price != null">#{price},</if>
            <if test="hours != null">#{hours},</if>
            <if test="hourlyRate != null">#{hourlyRate},</if>
         </trim>
    </insert>


    <insert id="insertServiceImages" parameterType="java.util.Map">
        insert into system_service_image (image_url, service_id)
        values
        <foreach collection="imageUrls" item="imageUrl" separator=",">
            (#{imageUrl}, #{serviceId})
        </foreach>
    </insert>
<!--    <insert id="insertServiceImages" parameterType="java.util.Map">-->
<!--        <foreach collection="imageUrls" item="imageUrl" separator=";">-->
<!--            insert into system_service_image (image_url, service_id)-->
<!--            values (#{imageUrl}, #{serviceId})-->
<!--        </foreach>-->
<!--    </insert>-->


    <update id="updateSystemNewService" parameterType="SystemNewService">
        update system_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="hours != null">hours = #{hours},</if>
            <if test="hourlyRate != null">hourly_rate = #{hourlyRate},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSystemNewServiceById" parameterType="Long">
        delete from system_service where id = #{id}
    </delete>

    <delete id="deleteSystemNewServiceByIds" parameterType="String">
        delete from system_service where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--    3.1的foreach练习-->
    <insert id="insertUserTag">
         insert into user_tag (user_id,tag_id)
         values
         <foreach item="tagId" collection="ids" separator=",">
             (#{userId},#{tagId})
         </foreach>
    </insert>
</mapper>
