<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SystemServiceMapper">

    <resultMap type="SystemService" id="SystemServiceResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="categoryId"    column="category_id"    />
        <result property="price"    column="price"    />
        <result property="categoryName"    column="category_name"    />
        <result property="hourRate"    column="hour_rate"    />
    </resultMap>

    <sql id="selectSystemServiceVo">
        select id, name, description, category_id, price from system_service
    </sql>

    <select id="selectSystemServiceList" parameterType="SystemService" resultMap="SystemServiceResult">
        select
        ss.*,
        ssc.name as category_name
        from system_service as ss
        left join system_service_category as ssc on ss.category_id = ssc.id
        <where>
            <if test="name != null  and name != ''"> and ss.name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and ss.description = #{description}</if>
            <if test="categoryName != null "> and category_name = #{categoryName}</if>
            <if test="hourRate != null "> and hour_rate = #{hourRate}</if>
        </where>
    </select>

    <select id="selectSystemServiceById" parameterType="Long" resultMap="SystemServiceResult">
        <include refid="selectSystemServiceVo"/>
        where id = #{id}
    </select>

    <insert id="insertSystemService" parameterType="SystemService">
        insert into system_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="price != null">price,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="price != null">#{price},</if>
         </trim>
    </insert>

    <update id="updateSystemService" parameterType="SystemService">
        update system_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSystemServiceById" parameterType="Long">
        delete from system_service where id = #{id}
    </delete>

    <delete id="deleteSystemServiceByIds" parameterType="String">
        delete from system_service where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
