<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SystemReceivingOrdersMapper">

    <resultMap type="SystemOrder" id="SystemOrderResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="personnelId"    column="personnel_id"    />
        <result property="servicePostId"    column="service_post_id"    />
        <result property="serviceName"    column="service_name"    />
        <result property="personnelName" column="personnel_name" /> <!-- 服务人员姓名 -->
        <result property="userName" column="user_name" /> <!-- 用户名 -->
        <result property="imageUrl"    column="image_url"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="orderPackage"    column="order_package"    />
        <result property="updateTime"    column="update_time"    />
        <result property="location"    column="location"    />
        <result property="serviceId"    column="service_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="phoneNumber"    column="phonenumber"    />
    </resultMap>

    <resultMap id="SystemServicePersonnelResult" type="com.ruoyi.housekeeping.domain.SystemServicePersonnel">
        <result property="id"             column="id" />
        <result property="userId"         column="user_id" />
        <result property="name"           column="name" />
        <result property="phone"          column="phone" />
        <result property="email"          column="email" />
        <result property="experience"     column="experience" />
        <result property="location"       column="location" />
        <result property="qualification"  column="qualification" />
        <result property="serviceType"    column="service_type" />
        <result property="workDay"        column="work_day" />
        <result property="workTimes"      column="work_times" />
    </resultMap>


    <select id="getAvailablePersonnel" parameterType="SystemOrder" resultMap="SystemServicePersonnelResult">
        SELECT sp.id,
               sp.name,
               sp.phone,
               sp.location,
               sp.service_type,
               sp.work_day
        FROM `system_service_personnel` sp
                 INNER JOIN `system_personnel_schedule` sps
                            ON sp.id = sps.personnel_id
        WHERE sp.location = #{location}
          AND sps.start_time &lt;= #{startTime}
          AND sps.end_time &gt;= #{endTime}
    </select>


    <sql id="selectSystemOrderVo">
        select id, order_id, user_id, personnel_id, service_post_id, service_name, image_url, total_price, status, create_time, order_package, update_time, location, service_id, start_time, end_time from system_order
    </sql>

    <select id="selectSystemReceivingOrdersList" parameterType="SystemOrder" resultMap="SystemOrderResult">
        select
        o.id,
        o.order_id,
        o.personnel_id,
        p.name as personnel_name, -- 服务人员姓名
        o.service_id,
        s.name as service_name, -- 服务名称
        o.user_id,
        u.user_name, -- 用户名
        o.image_url,
        o.total_price,
        o.status,
        o.phonenumber,
        o.create_time,
        o.order_package,
        o.update_time,
        o.location,
        o.start_time,
        o.end_time
        from system_order o
        LEFT JOIN system_service_personnel p ON o.personnel_id = p.id -- 通过服务人员ID连接服务人员表
        LEFT JOIN system_service s ON o.service_id = s.id -- 通过服务ID连接服务表
        LEFT JOIN sys_user u ON o.user_id = u.user_id -- 通过用户ID连接用户表
        <where>
            o.status = 0 OR o.status = 1
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="userId != null "> and user_id like concat('%', #{userId}, '%')</if>
            <if test="personnelId != null "> and personnel_id like concat('%', #{personnelId}, '%')</if>
            <if test="servicePostId != null "> and service_post_id = #{servicePostId}</if>
            <if test="serviceName != null  and serviceName != ''"> and service_name like concat('%', #{serviceName}, '%')</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="totalPrice != null "> and total_price = #{totalPrice}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="orderPackage != null  and orderPackage != ''"> and order_package = #{orderPackage}</if>
            <if test="location != null  and location != ''"> and o.location like concat('%', #{location}, '%')</if>
            <if test="serviceId != null "> and service_id = #{serviceId}</if>
        </where>
    </select>

    <select id="selectSystemReceivingOrdersById" parameterType="Long" resultMap="SystemOrderResult">
        <include refid="selectSystemOrderVo"/>
        where
        status = 0
        and id = #{id}
    </select>

    <insert id="insertSystemReceivingOrders" parameterType="SystemOrder" useGeneratedKeys="true" keyProperty="id">
        insert into system_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="personnelId != null">personnel_id,</if>
            <if test="servicePostId != null">service_post_id,</if>
            <if test="serviceName != null">service_name,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="orderPackage != null">order_package,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="serviceId != null">service_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="personnelId != null">#{personnelId},</if>
            <if test="servicePostId != null">#{servicePostId},</if>
            <if test="serviceName != null">#{serviceName},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="orderPackage != null">#{orderPackage},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="serviceId != null">#{serviceId},</if>
        </trim>
    </insert>

    <select id="selectOrdersToUpdate" parameterType="java.sql.Timestamp" resultType="SystemOrder">
        SELECT
            o.id,
            o.order_id,
            o.personnel_id,
            o.service_id,
            o.user_id,
            o.status,
            o.end_time
        FROM system_order o
        WHERE o.status = 1  AND o.end_time &lt; #{currentTime}
    </select>

    <update id="updateSystemReceivingOrders" parameterType="SystemOrder">
        update system_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="personnelId != null">personnel_id = #{personnelId},</if>
            <if test="servicePostId != null">service_post_id = #{servicePostId},</if>
            <if test="serviceName != null">service_name = #{serviceName},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="orderPackage != null">order_package = #{orderPackage},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="serviceId != null">service_id = #{serviceId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSystemReceivingOrdersById" parameterType="Long">
        delete from system_order where id = #{id}
    </delete>

    <delete id="deleteSystemReceivingOrdersByIds" parameterType="String">
        delete from system_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
