<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.housekeeping.mapper.SystemFeedbackMapper">
    
    <resultMap type="SystemFeedback" id="SystemFeedbackResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="personnelId"    column="personnel_id"    />
        <result property="rating"    column="rating"    />
        <result property="comment"    column="comment"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSystemFeedbackVo">
        select id, order_id, user_id, personnel_id, rating, comment, create_time from system_feedback
    </sql>

    <select id="selectSystemFeedbackList" parameterType="SystemFeedback" resultMap="SystemFeedbackResult">
        <include refid="selectSystemFeedbackVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="rating != null "> and rating = #{rating}</if>
        </where>
    </select>
    
    <select id="selectSystemFeedbackById" parameterType="Long" resultMap="SystemFeedbackResult">
        <include refid="selectSystemFeedbackVo"/>
        where id = #{id}
    </select>

    <insert id="insertSystemFeedback" parameterType="SystemFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into system_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="personnelId != null">personnel_id,</if>
            <if test="rating != null">rating,</if>
            <if test="comment != null">comment,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="personnelId != null">#{personnelId},</if>
            <if test="rating != null">#{rating},</if>
            <if test="comment != null">#{comment},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSystemFeedback" parameterType="SystemFeedback">
        update system_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="personnelId != null">personnel_id = #{personnelId},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSystemFeedbackById" parameterType="Long">
        delete from system_feedback where id = #{id}
    </delete>

    <delete id="deleteSystemFeedbackByIds" parameterType="String">
        delete from system_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>